{% load static %}
<!DOCTYPE html>
<html>
    {# Make modifiable head elements #}
    <head>
        <title>{% block title %}Women Who Code PDX{% endblock %}</title>
        {% block head_favicon %}{% endblock %}            
        {% block head_meta %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />     
            <meta http-equiv="Content-Language" value="en-US" />   
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}
        {% block head_css %}     
            <link rel="stylesheet" media="screen" href="{% static 'css/styles.css' %}">  
        {% endblock %}
    </head>

    <body>
        {# Navigation Menu #}
        <header>
            <nav class="top-left-nav">
                <a href="#">WWC Logo</a>                       
                <a href="">Get Involved</a>
                <a href="">Events</a>
                <a href="">Code of Conduct</a>
                <a href="">Sponsors</a>
                <a href="">Our Network</a>
                <a href="">Blog</a>
            </nav>
            <nav class="top-right-nav">
                <a href="www.twitter.com">Twitter</a>
                <a href="www.facebook.com">Facebook</a>
                <a href="www.instagram.com">Instagram</a>
                <a href=""><button>Donate</button></a>
            </nav>
        </header>

        {# The Document Body #}
        <div id="site-wrapper">
            {% block content %}
                if you see this, something is wrong!
            {% endblock content %}
        </div>

        {# The Footer #}
        <div class="footer">
            <div class="container">
                <p></p>
            </div>
        </div>
    </body>

    {# Set of blocks that can be used to display JavaScript files #}
    {% block footer_javascript %}
        {% block footer_javascript_site %}
        {% endblock footer_javascript_site %}
        {% block footer_javascript_section %}{% endblock footer_javascript_section %}
        {% block footer_javascript_page %}{% endblock footer_javascript_page %}
    {% endblock footer_javascript %}
</html>